{% load static %}
{% include "contact/sidebar.html" %}
{% include "contact/head.html" %}
<link rel="stylesheet" href="{% static 'contact/style.css' %}">
<section class="vh-100 gradient-custom">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="container register">
          <div class="row">
            <div class="col-md-3 register-left">
            </div>
            <div class="col-md-9 register-right">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h3 class="register-heading text-center" style="color: #3498db; font-weight: bold;">Create Contact</h3>
                  <form class="form-horizontal" action="#" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name" style="color: #27ae60;">Name:</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                      <label for="email" style="color: #e74c3c;">Email:</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                    </div>
                    <div class="form-group">
                      <label for="notes" style="color: #f39c12;">Notes:</label>
                      <textarea class="form-control" id="notes" name="notes" rows="4" placeholder="Enter Notes" style="background-color: #ecf0f1;"></textarea>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-success">Submit</button>
                      <button type="button" class="btn btn-danger" onclick="window.location.href='/contact-list'">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "contact/footer.html" %}
