{% load static %}
<link rel="stylesheet" href=" {% static "contact/headstyle.css" %}">
<link href="{% static "contact/assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "contact/assets/vendor/bootstrap-icons/bootstrap-icons.css"%}" rel="stylesheet">
  
  <link href="{% static "contact/assets/css/style.css"%}" rel="stylesheet">
<div class="container-fluid px-0">
    <header>
        <div class="shape"></div> <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-transparent"> 
           
           
        </nav> <!-- ./ end of navbar -->
        
    </header>
</div>