

 <!-- ======= Sidebar ======= -->
 {% load static %}
 <link rel="stylesheet" href="{% static "empadmin/headstyle.css" %}">
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


      
      

      <li class="nav-heading">Pages</li>

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Create Contact</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>View Contact</span>
        </a>
      </li><!-- End Register Page Nav --> <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Update Contact</span>
        </a>
      </li><!-- End Register Page Nav --> <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Delete Contact</span>
        </a>
      </li><!-- End Register Page Nav -->
      



    </ul>

  </aside><!-- End Sidebar-->
