{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'contact/formstyle.css' %}">

    <title>Edit Contact</title>
    <!-- Add your CSS styles here if needed -->
</head>
<body>
  <div class="container">

{% block content %}
  <h1>Update Contact</h1>
  <form method="post" action="{% url 'update_contact' contact.serial_number %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
    <a href="{% url 'startpage' %}" class="back-link">
      <button type="button">Cancel</button></a>
  </form>
{% endblock %}

<div class="footer">
  <p class="copyright"> &copy; Created by Karthik</p>
</div>

</div>

</body>
</html>
